*, *::after, *::before {
  box-sizing: inherit;
}

body{
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
}

/* .clearfix::after {
    content: "";
    display: table;
    clear: both;
} */

.main-header {
  background-color: #eeeeee;
  padding-top: 50px;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.logo {
  margin-right: 200px;
}

.logo:hover img{
  opacity: 0.8;
}

.logo:active img{
  opacity: 0.3;
}

.navigation {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 16px;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-item {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 45px;
}

.navigation-link {
  display: block;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 69px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-link:hover {
  color: #fb565a;
}

.navigation-link:active {
  color: #a7a7a7;
}

.cart-block {
  margin-left: auto;
}

.cart-block .navigation-link {
  margin-right: 0;
}

.slider {
  position: relative;
}
.slider-item {
  display: none;
  padding-top: 65px;
}

.slider-item-active {
  display: block;
}

.slider-title {
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slider-description {
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 27px;
  margin-bottom: 32px;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  background-color: #fb565a;
  padding: 16px 0;
  text-align: center;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.btn:hover {
  background-color: #e74246;
}

.btn:active {
  border-top: 5px solid #c13135;
  padding-top: 11px;
  background-color: #d7373b;
  color: #e37375;
}

.slider-item .btn {
  width: 240px;
  margin-bottom: 80px;
}

.slider-indication {
  position: absolute;
  bottom: 100px;
  left: 50%;
  margin-left: -48px;
}

.slider-indication-item {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #fff;
  cursor: pointer;
  border-radius: 50%;

  margin-right: 17px;
}

.slider-indication-item:last-child {
  margin-right: 0;
}

.slider-indication-item-active {
  box-shadow: inset 0 0 0 2px #c1c1c1;
}

.slider-item-first {
  background: url('../img/slide1-bg.png') no-repeat 100% 0;
}

.slider-item-second {
  background: url('../img/slide2-bg.png') no-repeat 100% 0;
}

.slider-item-third {
  background: url('../img/slide3-bg.png') no-repeat 100% 0;
}

.advantages {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  position: relative;
  border-bottom: 2px solid #eee;
}

.advantages-item {
  width: 300px;
}

.advantages-item:last-child {
  margin-right: 0;
}

.advantages-title {
  margin: 26px 0;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.advantages-description {
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 30px;
}

.btn-advantages {
  width: 160px;
}

.advantages-item:nth-child(2) .btn-advantages{
  background-color: #00ca74;
}

.advantages-item:nth-child(2) .btn-advantages:hover{
  background-color: #00bc6c;
}

.advantages-item:nth-child(2) .btn-advantages:active{
  background-color: #00aa62;
  color: #4cc391;
  border-top: 5px solid #009958;
  padding-top: 11px;
}

.advantages-item:nth-child(3) .btn-advantages{
  background-color: #efc84a;
}

.advantages-item:nth-child(3) .btn-advantages:hover{
  background-color: #eab534;
}

.advantages-item:nth-child(3) .btn-advantages:active{
  background-color: #e5a722;
  color: #edc164;
  border-top: 5px solid #ce961f;
  padding-top: 11px;
}

.studio {
  border-bottom: 2px solid #eee;
  padding-top: 40px;
  padding-bottom: 70px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.info {
  width: 660px;
}

.info-title {
  color: #000000;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.info-description {
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 35px;
}

.worklist-title {
  color: #283136;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.worklist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.worklist-item {
  padding-left: 40px;
  position: relative;
  margin-bottom: 25px;
}

.worklist-item:last-child {
  margin-bottom: 0;
}

.worklist-item::before {
  content: '';
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 1px;
}

.statistic {
  width: 360px;
}

.statisticlist-title {
  color: #000000;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 45px;
}

.statisticlist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.statisticlist-item {
  display: inline-block;
  width: 120px;
  float: left;
}

.statisticlist-proc {
  color: #000000;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 15px;
}

.statisticlist-descr {
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}



.partners {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eee;
}

.partners-link {
  height: 180px;
  width: 260px;
  opacity: .2;
}


.partners-link-htmlacademy {
  background: url(../img/htmlacademy.png) no-repeat center;
}

.partners-link-barbershop {
  background: url(../img/barbershop.png) no-repeat center;
}

.partners-link-pink {
  background: url(../img/pink.png) no-repeat center;
}

.partners-link-mishka {
  background: url(../img/mishka.png) no-repeat center;
}

.partners-link-htmlacademy:hover,
.partners-link-barbershop:hover,
.partners-link-pink:hover,
.partners-link-mishka:hover {
  opacity: 1;
  transition: .2s;
}

.partners-link-htmlacademy:active,
.partners-link-barbershop:active,
.partners-link-pink:active,
.partners-link-mishka:active {
  opacity: 0.1;
  transition: .1s;
}

.contacts {
  background: url('../img/map.jpg') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  margin-top: 80px;
  padding: 54px 0;
}

.contacts-block {
  width: 320px;
  height: 310px;
  background-color: #fff;
  padding: 50px;
}

.contacts-block h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.contacts-block p {
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 25px;
}

.contacts-block .btn {
  width: 219px;
}

.contacts .marker {
  position: absolute;
  top: 100px;
  left: 860px;
}

.main-footer {
  padding: 70px 0;
}

.main-footer .container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.social {
 font-size: 0;
 width: 260px;
 margin-right: 140px;
}

.social-link {
  display: inline-block;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #e1e1e1;
  margin-right: 12px;
  color: #fff;
}

.social-link:hover {
  background-color: #e74246;
}

.social-link:active {
  background-color: #d7373b;
  color: #e37375;
}

.social-link:last-child {
  margin-right: 0;
}

.footer-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.footer-description {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 15px;
}
